.price {
    position: relative;
}

.price::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: -1%;
    background-color: #fff;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.cards {
    width: 100%;
    overflow-x: auto;
}

.card {
    margin-top: 0 !important;
}

@media screen and (max-width: 480px) {
    .card {
        width: 10%;
    }
}

.product-cards {
    width: max-content;
}

.cards::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.cards::-webkit-scrollbar-corner,
.cards::-webkit-scrollbar-track {
    background: #E3E5E6;
    /* background: #5B44E9; */
}

.cards::-webkit-scrollbar-thumb {
    background-color: rgb(96, 96, 96);
    background-clip: padding-box;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background: #5B44E9;
}


/* Buttons */

.cards::-webkit-scrollbar-button:single-button {
    background: #5B44E9;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}


/* Left */

.cards::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 14px;
    width: 14px;
    background-position: 4px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,50 50,100 50,0'/></svg>");
}

.cards::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,50 50,100 50,0'/></svg>");
}

.cards::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,50 50,100 50,0'/></svg>");
}


/* Right */

.cards::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 14px;
    width: 14px;
    background-position: 5px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,0 0,100 50,50'/></svg>");
}

.cards::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,0 0,100 50,50'/></svg>");
}

.cards::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255, 255, 255)'><polygon points='0,0 0,100 50,50'/></svg>");
}

@media only screen and (min-width: 320px) {
    .container {
        width: 550%;
    }
}

@media only screen and (min-width: 470px) {
    .container {
        width: 450%;
    }
}

@media only screen and (min-width: 730px) {
    .container {
        width: 300%;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

;
.cards::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}

@media only screen and (min-width: 320px) {
    .container {
        width: 550%;
    }
}

@media only screen and (min-width: 470px) {
    .container {
        width: 450%;
    }
}

@media only screen and (min-width: 730px) {
    .container {
        width: 300%;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

;
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}