.price {
    position: relative;
}

.price::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    right: -1%;
    background-color: #fff;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.cards {
    width: 100%;
    overflow-x: auto;
}

.card {
    margin-top: 0 !important;
}

@media only screen and (min-width: 320px) {
    .container {
        width: 550%;
    }
}

@media only screen and (min-width: 470px) {
    .container {
        width: 450%;
    }
}

@media only screen and (min-width: 730px) {
    .container {
        width: 300%;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 140%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        width: 200%;
    }
}