.form {
  height: max-content;
  width: 50%;
  transform: translateY(-10%);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2.5rem 2rem;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}

.form section {
  width: 70%;
}

@media screen and (max-width: 1178px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 880px) {
  .form {
    width: 70%;
  }
  .form section {
    width: 100%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 530px) {
  .form {
    width: 95%;
    padding: 0 0.7rem;
  }
}

.cancel-btn-container {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 32px;
  top: 40px;
  /* Gray / 95 */
  background: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn-container .cancel-btn {
  border: 1px solid #24bad4;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #828080;
  font-size: 0.94rem;
}

.wrapper_form {
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}

.input-box .input-container {
  border: 1.5px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 8px;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.input-box .input-container:not(:last-of-type) {
  margin-bottom: 1rem;
}

.input-box .input-container input:placeholder-shown {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #cccccc;
}

.input-box .input-container input {
  outline: 0;
  width: 90%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  width: 100%;
  padding: 1rem;
}

.card-container h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #24bad4;
}

@media screen and (max-width: 530px) {
  .card-container h5 {
    font-size: 1rem;
  }
  .cancel-btn-container {
    display: none;
  }
}

.card-container h5 img {
  width: 1.3rem;
  height: 1.3rem;
}

.card-container p {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: #666666;
}

.payment-image {
  background: "#F2F2F2";
  border: "1px solid #ccc";
  border-radius: "50px";
  width: 6rem;
  height: max-content;
}

.payment-image img {
  width: 100%;
  height: 100%;
}

.input-cnum {
  margin-top: 5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
