@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    [type='text']:focus,
    [type='email']:focus,
    [type='url']:focus,
    [type='password']:focus,
    [type='number']:focus,
    [type='date']:focus,
    [type='datetime-local']:focus,
    [type='month']:focus,
    [type='search']:focus,
    [type='tel']:focus,
    [type='time']:focus,
    [type='week']:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        /* border: inherit; */
        border-color: rgb(204 204 204);
        outline: none !important;
        outline-offset: 0 !important;
        --tw-ring-inset: none;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: none;
        --tw-ring-offset-shadow: none !important;
        --tw-ring-shadow: none !important;
        box-shadow: none !important;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}